aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
ansicon
anyio
asgiref
attrs
bcrypt
blessed
blinker
boto3
botocore
cachetools
cement
certifi
cffi
charset-normalizer
click
clr_loader
cohere
colorama
cryptography
decorator
Deprecated
distro
dj-database-url
Django
django-unfold
django-storages
et_xmlfile
fabric
fastavro
ffmpeg-python
filelock
Flask
frozenlist
fsspec
future
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
hf-xet
httpcore
httplib2
httpx
huggingface_hub
idna
invoke
itsdangerous
Jinja2
jinxed
jiter
jmespath
lxml
MarkupSafe
multidict
numpy
openai
openpyxl
packaging
pandas
paramiko
pathspec
pillow
polib
propcache
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
PyJWT
PyNaCl
pyparsing
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
qrcode
reportlab
requests
rsa
s3transfer
semantic-version
shellingham
six
sniffio
sqlparse
srt
tenacity
termcolor
tokenizers
tqdm
twilio
typer-slim
# types-requests eliminado para evitar conflicto con urllib3
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3==1.26.20
vosk
wcwidth
websockets
Werkzeug
whitenoise
wrapt
yarl
